body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}